[submodule "local/modules/swagger"]
	path = local/modules/swagger
	url = https://github.com/zircote/swagger-php.git
[submodule ".vim/bundle/railscasts"]
	path = .vim/bundle/railscasts
	url = https://github.com/vim-scripts/Railscasts-Theme-GUIand256color.git
[submodule ".vim/bundle/php-stuff"]
	path = .vim/bundle/php-stuff
	url = https://github.com/paulyg/Vim-PHP-Stuff.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/addon-mw-utils"]
	path = .vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule ".vim/bundle/php-doc-modded"]
	path = .vim/bundle/php-doc-modded
	url = https://github.com/Rican7/php-doc-modded.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
