[submodule "local/modules/swagger"]
	path = local/modules/swagger
	url = https://github.com/zircote/swagger-php.git
[submodule ".vim/bundle/railscasts"]
	path = .vim/bundle/railscasts
	url = https://github.com/vim-scripts/Railscasts-Theme-GUIand256color.git
[submodule ".vim/bundle/php-stuff"]
	path = .vim/bundle/php-stuff
	url = https://github.com/paulyg/Vim-PHP-Stuff.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/addon-mw-utils"]
	path = .vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule ".vim/bundle/php-doc-modded"]
	path = .vim/bundle/php-doc-modded
	url = https://github.com/Rican7/php-doc-modded.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "local/modules/z"]
	path = local/modules/z
	url = https://github.com/rupa/z.git
[submodule ".vim/bundle/vim-jquery"]
	path = .vim/bundle/vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-php-namespace"]
	path = .vim/bundle/vim-php-namespace
	url = https://github.com/vim-scripts/vim-php-namespace.git
[submodule ".vim/bundle/AutoTag-Modded"]
	path = .vim/bundle/AutoTag-Modded
	url = https://github.com/Rican7/AutoTag.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "local/modules/boris"]
	path = local/modules/boris
	url = https://github.com/d11wtq/boris.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/php-indenting-for-vim"]
	path = .vim/bundle/php-indenting-for-vim
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/phpcomplete-vim"]
	path = .vim/bundle/phpcomplete-vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/dart-vim-plugin"]
	path = .vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule ".vim/bundle/xterm-color-table.vim"]
	path = .vim/bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule ".vim/bundle/tagbar-phpctags.vim"]
	path = .vim/bundle/tagbar-phpctags.vim
	url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "local/modules/vimpager"]
	path = local/modules/vimpager
	url = https://github.com/rkitover/vimpager.git
