[user]
	name = Trevor Suarez
	email = rican7@gmail.com
[github]
	user = Rican7
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = ~/.gitignore_global
