[user]
	name = Trevor Suarez
	email = rican7@gmail.com
	signingkey = B49DD3EE19CE2D99
[github]
	user = Rican7
[alias]
	st = status
	ci = commit -v
	br = branch
	co = checkout
	df = diff
	dft = difftool
	diffc = diff --cached
	dfc = diff --cached
	dftc = difftool --cached
	diffpager = !git diff --color=always | less -R
	diffp = !git diffpager
	dfp = !git diffpager
	s = status -s
	branchname = rev-parse --abbrev-ref HEAD
	files = diff --name-only
	last = diff --name-only HEAD^!
	files-status = diff --name-status
	last-status = diff --name-status HEAD^!
	files-stat = diff --stat
	last-stat = diff --stat HEAD^!
	showfiles = show --name-only
	showlast = show --name-only HEAD^!
	showfiles-status = show --name-status
	showlast-status = show --name-status HEAD^!
	showfiles-stat = show --stat
	showlast-stat = show --stat HEAD^!
	excluded = ls-files --others --ignored --exclude-standard
	untracked = ls-files --others --exclude-standard
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lgbranch = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --first-parent --no-merges master..HEAD
	mergelog = log --pretty=oneline --abbrev-commit --merges
	mergelogpr = !git mergelog -i --grep 'pull request'
	worklog = log --pretty=' - %s%n%n%w(0,4,4)%-b' --reverse --no-merges
	worklogbranch = log --pretty=' - %s%n%n%w(0,4,4)%-b' --reverse --first-parent --no-merges master..HEAD
	pushhead = push origin HEAD
	pushup = push upstream HEAD
	mergeflow = !git merge --no-ff
	fall = fetch --all
	pullbase = pull --rebase
	remoteclean = remote prune # No shorter, but more semantic.... at least to me. :P
	merged = !git branch --merged | grep -v '^\\*'
	localclean = !git merged | xargs --no-run-if-empty git branch -d
	subsync = submodule sync --recursive
	subupdate = submodule update --init --recursive --checkout
	syncup = !git checkout master && git pullbase upstream master && git subsync && git subupdate
	syncthis = !git pullbase origin `git branchname` && git subsync && git subupdate
	syncthisup = !git pullbase upstream `git branchname` && git subsync && git subupdate
	syncstate = !git fall && git syncthis && git remoteclean origin
	syncstateup = !git fall && git syncthisup && git remoteclean upstream
	syncstateflow = !git fall && git syncthisup && git pushhead && git remoteclean upstream && git remoteclean origin
	call = !git ci -a
	orphaned = clean -nd
	addnew = !git add `git untracked`
	revision = rev-parse HEAD
	revisionshort = rev-parse --short HEAD
	root = rev-parse --show-toplevel
	releasename = !git describe --exact-match --abbrev=0 2>/dev/null || git rev-parse --short HEAD
	branchliststatus = !git remote update && git branch --list -vv
	branchls = !git branchliststatus --color=always | sed --posix 's/].*/]/g'
	datenow = "!git filter-branch -f --setup 'NOW_DATE=$(date)' --env-filter 'GIT_AUTHOR_DATE=\"$NOW_DATE\"; GIT_COMMITTER_DATE=\"$NOW_DATE\";' $1..HEAD"
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FRSX
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[merge]
	ff = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[hub]
	protocol = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
